.process {
  max-width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: space-evenly;
}
.process-chart {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  .flow-line {
    content: "";
    width: 30px;
    height: 5px;
  }

  .flow-line:last-child {
    display: none;
  }
  .flow-line:nth-child(6) {
    background: none !important;
    border-block: dashed 5px;
    height: 30px !important;
  }

  .process-chart-box {
    padding-inline: 30px;
    height: 400px;
    width: 90%;
    max-width: 300px;
    border-radius: 3px;
    font-size: larger;
    box-shadow: 0px 0px px 0px #00000010;

    .pcb-title {
      width: 100%;
      border-radius: 10px 10px 0px 0px;
      text-align: center;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 30px;
      .pcb-icon {
        font-size: 30px;
        display: flex;
      }
    }
  }
}
@media (max-width: 1700px) {
  .process-chart {
    flex-direction: column;
  }
  .flow-line {
    width: 5px !important;
    height: 30px !important;
  }
  .flow-line:nth-child(6) {
    background: none !important;
    border-inline: dotted 5px;
    border-block: none !important;
    width: 30px !important;
  }
  .process-chart-box {
    max-width: 90% !important;
  }
}
