.canvas {
  position: fixed!important;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.mode-switch {
  background: none;
  border: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 1s;
}
.mode-switch:hover {
  filter: brightness(1.3);
}
