.background {
  opacity: 0.8;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  display: flex;
  justify-content: center;
  top: 0;

  .svg {
    width: 100vw;
    height: 100vh;
    align-self: center;
  }
}
